.vs
.vscode

src/Identity/Sisreq.Identity.API/bin/
src/Identity/Sisreq.Identity.API/obj/
src/Identity/Sisreq.Identity.Application/bin/
src/Identity/Sisreq.Identity.Application/obj/
src/Identity/Sisreq.Identity.Infra/bin/
src/Identity/Sisreq.Identity.Infra/obj/
src/Identity/Sisreq.Identity.Domain/bin/
src/Identity/Sisreq.Identity.Domain/obj/
src/Courses/Sisreq.Courses.API/bin/
src/Courses/Sisreq.Courses.API/obj/
src/Courses/Sisreq.Courses.Application/bin/
src/Courses/Sisreq.Courses.Application/obj/
src/Courses/Sisreq.Courses.Infra/bin/
src/Courses/Sisreq.Courses.Infra/obj/
src/Courses/Sisreq.Courses.Domain/bin/
src/Courses/Sisreq.Courses.Domain/obj/
src/Reservations/Sisreq.Reservations.API/bin/
src/Reservations/Sisreq.Reservations.API/obj/
src/Reservations/Sisreq.Reservations.Application/bin/
src/Reservations/Sisreq.Reservations.Application/obj/
src/Reservations/Sisreq.Reservations.Infra/bin/
src/Reservations/Sisreq.Reservations.Infra/obj/
src/Reservations/Sisreq.Reservations.Domain/bin/
src/Reservations/Sisreq.Reservations.Domain/obj/